<div class="flex-auto pv2">
    <p class="days fw4 mb1 mt0" id="day-<%= day %>">Today</p>
    <img class="filter-icon-01" src="/images/weather-icons/weather.svg" id="daily-icon-<%= day %>">    
    <div>
        <span class="daily-degree ma0 fw1 f7"><span id="daily-deg-min-<%= day %>">24</span>&deg;F</span>
        <span class="daily-degree ma0 fw1 f7">/</span>
        <span class="daily-degree ma0 fw1 f7"><span id="daily-deg-<%= day %>">24</span>&deg;F</span>    
    </div>
</div>