<div class="p2">
    <p class="days fw4 mb1 mt0" id="day-<%= day %>">The Day</p>
    <div class="forecastHighLow">
        <span class="daily-degree"><span id="daily-deg-min-<%= day %>">24</span>&deg;F</span>
        <span class="daily-degree">/</span>
        <span class="daily-degree"><span id="daily-deg-<%= day %>">24</span>&deg;F</span>    
    </div>    
    <img class="filter-icon-01" src="/images/weather-icons/weather.svg" id="daily-icon-<%= day %>">    
</div>