/*
 Bottom Two
*/
#BottomTwo {
	display: 		flex;
	font-size: 		$md-font-size;
	font-weight: 	100;
}
.BottomTwo-Item {
	width: 		50%;
	height: 	45vh;

		h4 {
			font-weight: 100;
			font-size: $md-font-size;
		}
}