/*
	BottomImage
*/

@keyframes flickerAnimation {
	0%   { opacity:0.13; }
	50%  { opacity:0.03; }
	100% { opacity:0.13; }
}

#BottomImage {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 150px;
	width: 100%;
	z-index: -1;

		#timer {
			position: absolute;
			bottom: 7px;
			right: 0;
			font-size: 0.9em;
			width: calc(50% - 40px);
			text-align: center;
		    list-style: none;

			li {
				display: inline-block;
				padding-right: 4px;
			}
		}	
}

.PumpkinFace{
	background-image: url(../img/PumpkinFace.jpg);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 200px;
	animation: flickerAnimation 20s infinite;
}

.Turkey{
	background-image: url(../img/Turkey.png);
	background-position: calc(50% + 22px) bottom;
	background-repeat: no-repeat;
	background-size: 40px;
}

.X-Mas{
	background-image: url(../img/Christmas-Tree.png);
	background-position: calc(50% + 25px) bottom;
	background-repeat: no-repeat;
	background-size: 40px;
}