/*
	Current Weather
*/
#CurrentWeather {
    position: relative;
	color: $DarkText;
}
	#TheCurrentWeather {
		display: table;
		width: 100%;
		table-layout: fixed;
		height: 25vh;

		.CurrentlyItem {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}

		#CurrentTemp {
			width: 40%;
		}	
	}

	/* Current Icon */
	#CurrentIcon{
		.icon{
			font-size: $CurrentWeatherLGFone;
		}
		.desc{
		}
	}
	/* Current Temp */
	#CurrentTemp{
		.temp{
			display: block;
			font-size: $CurrentWeatherLGFone;
		}
		#TheWindChill {
			margin-top: -1em;
		}
	}
	/* forecast 1 */
	#CurrentWeatherSide{
		div{
			text-align: left;
			padding-left: 8px;
			font-size: $md-font-size;

			b{
				font-weight: 100;
				display: inline-block;
				width: 45px;
				position: relative;

				&:after{
					content: " :";
					position: absolute;
					right: 0;					
				}
			}
		}

		#TheDirection{
			display: block;
			margin-left: 45px;
			margin-top: -4px;
			font-size: $sm-font-size;
		}
	}


/*
	Sunset / Sun Rise
*/
#TheRiseSet {
	font-size: 0px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	.RiseSetItem {
		font-size:  $sm-font-size;
		width: 50%;
		display: inline-block;

			&.TheSunrise {
				text-align: right;
				padding-right: 14px;
			}
			&.TheSunset {
				text-align: left;
				padding-left: 14px;
			}   
	}	
}