/*
	Colors
*/
	$BlueColor: #0da4ff;
	$NagColor: #d14836;

	$LightText: #dcdcdc;
	$DarkText: 	#222222;

/*
	Font Size
*/
	$font-size: 16px;
	$xsm-font-size: $font-size / 1.5;
	$sm-font-size: $font-size / 1.25;
	$md-font-size: $font-size * 1.25;
	$lg-font-size: $font-size * 1.5;
	$xl-font-size: $font-size * 2;
	$xxl-font-size: $font-size * 4;
	$CurrentWeatherLGFone: $xxl-font-size * 1.10;