
<img id="CountDownImage" src="/images/events/blank.png" width="" height="80" class="" alt="" />
<div class="relative z-1" style="padding-right: 1em;">
  <span id="count-down-count"></span>
</div>
<script>

const daysThatMatter = [
  { 
    name: "New Year's", 
    date: '0101', 
    image: 'NewYears.png'
  },
  { 
    name: "Hollie's Birthday", 
    date: '0130', 
    image: 'HollieBirthday.png'
  },
  { 
    name: "Valentine's Day", 
    date: '0214', 
    image: 'ValentinesDay.png'
  },
  { 
    name: "Alonso's Birthday", 
    date: '0314', 
    image: 'alonso-b-day.png'
  },
  { 
    name: "St. Patrick's Day", 
    date: '0317', 
    image: 'StPatricksDay.png'
  },
  { 
    name: "Easter Sunday", 
    date: '0404', // This will need to be change every year
    image: 'easter.png'
  },
  { 
    name: "Cinco De Mayo", 
    date: '0505', 
    image: 'CincoDeMayo.png'
  },
  { 
    name: "Mother's Day", 
    date: '0509', 
    image: 'MothersDay.png'
  },
  { 
    name: "Memorial Day", 
    date: '0531', 
    image: 'MemorialDay.png'
  },
  { 
    name: "Christina's Birthday", 
    date: '0614', 
    image: 'ChristinaBirthday.png'
  },
  { 
    name: "James' Birthday", 
    date: '0701', 
    image: 'JamesBirthday.png'
  },
  { 
    name: "Independence Day", 
    date: '0704', 
    image: '4th-of-july.png'
  },
  { 
    name: "Lyla's Birthday", 
    date: '0831', 
    image: 'LylaBirthday.png'
  },
  { 
    name: "Will's Birthday", 
    date: '0909', 
    image: 'WillBirthday.png'
  },
  { 
    name: "Loki's Birthday", 
    date: '0914', 
    image: 'LokiBirthday.png'
  },
  { 
    name: "Gwen's Birthday", 
    date: '1023', 
    image: 'GwenBirthday.png'
  },
  { 
    name: "Halloween", 
    date: '1025', 
    image: 'PumpkinFace.jpg'
  },
  { 
    name: "Thor's Birthday", 
    date: '1103', 
    image: 'ThorBirthday.png'
  },
  { 
    name: "Thanksgiving Day", 
    date: '1125', // This will need to be change every year
    image: 'ThanksgivingDay.png'
  },
  { 
    name: "Christmas Day", 
    date: '1225', 
    image: 'Christmas-Tree.png'
  },
  { 
    name: "New Year's", 
    date: '1231', 
    image: 'NewYears.png'
  }
];
function updateCountDown() {
  // Todays Date as MMDD
  var TodaysDateIS = moment().format('MMDD');
  // var TodaysDateIS = "0120"; // For Testing Dates

  // Change Image 
  function ChangeTheCountDownIamge(a) {
    var image = document.getElementById('CountDownImage');
    image.src = a;
  }
  // 
  function daysUntilEvent() {
    var TodaysDateISMoment = moment(TodaysDateIS, 'MMDD').format('MMMM DD, YYYY 24:00:00');
    var daysThatMatterMoment = moment(daysThatMatter[i].date, 'MMDD').format('MMMM DD, YYYY 24:00:00');
    var TodaysDateISMoment = moment(TodaysDateISMoment);
    var daysThatMatterMoment = moment(daysThatMatterMoment);
    console.log(TodaysDateISMoment);
    daysThatMatterMoment.diff(TodaysDateISMoment, 'days')
    // 
    var theDaysUntilEvent = daysThatMatterMoment.diff(TodaysDateISMoment, 'days');
    if ( theDaysUntilEvent > 1 ){
      document.getElementById("count-down-count").innerHTML = daysThatMatter[i].name + " Is <br>" + theDaysUntilEvent + " Days Away"  ;      
    } else if ( theDaysUntilEvent == 1 ){
        document.getElementById("count-down-count").innerHTML = " Tomorrow Is <br>" + daysThatMatter[i].name ;
    } else if(theDaysUntilEvent == 0){
        document.getElementById("count-down-count").innerHTML = " Today Is <br>" + daysThatMatter[i].name ;
    }
  }
  //  
  var daysThatMatterLength = daysThatMatter.length;
  for (var i = 0; i < daysThatMatterLength; i++) {
    if ( TodaysDateIS <= daysThatMatter[i].date){
      daysUntilEvent();
      ChangeTheCountDownIamge("/images/events/" + daysThatMatter[i].image);
      // 
      break;
    } 
  }
}
// Update Now
updateCountDown();
// Update Every 30 mins 
var x = setInterval(function() {
  updateCountDown();
}, 1800000);
</script> 