<script type="text/javascript" src="https://widget.coinlore.com/widgets/coinlore-list-widget.js"></script>
<div 
    class="coinlore-list-widget mt2" 
    data-mcap="0" 
    data-mcurrency="<%= data.site.crypto_currency || "usd" %>" 
    data-top="<%= data.site.crypto_top || "50" %>" 
    data-cwidth="100%" 
    data-coincolor="#ffffff" 
    data-pricecolor="#ffffff" 
    style="width: 100%;"
>
</div>