 
<div class="wrap">
    <div class="flex justify-between pt3 pb2 f5 fw6">
        <div id="current-time" class="ttl">
            <%# The Time %>
        </div>
        <div id="current-date">
            <%# The Date %>
        </div>
    </div>
</div>
 
<script>
    function update() {
        $('#current-time').text(moment().format('h:mm:ss a'));
        $('#current-date').text(moment().format('dddd, MMMM Do'));
    }
    setInterval(update, 1000);
</script>