/*
	Blue Colors
*/
.blue #CurrentWeather,.blue .fc-event-dot {
    background-color: $BlueColor;
}
.blue .CryptoItem li:first-child,.blue  .forecast .desc  {
	color: $BlueColor;
}
.blue .BottomTwo-ItemOne {
	border-right: 1px solid $BlueColor;
	border-top: 1px solid $BlueColor;
}
.blue .fc-unthemed td,.blue .fc-unthemed .fc-list-heading td {
    border-color: $BlueColor;
}
.blue .CryptoNeg{
 	color: $NagColor;
 }