<div id="current-date" class="">
    <%# The Date %>
</div>

<div id="current-time" class="topHeaderMainHeading">
    <%# The Time %>
</div>

<div class="sunRiseSet flex">
    <div class="sunRiseSetItem">
        <img class="filter-icon-01" src="/images/weather-icons/sunrise.png" />
        <div class="main-info" id="sunriseTime">0</div>
    </div>
    <div class="sunRiseSetItem">
        <img class="filter-icon-01" src="/images/weather-icons/sunset.png" />
        <div class="main-info" id="sunsetTime">0</div>
    </div>
</div> 