<div class="top-left">
    <div class="theCurrentTemp topHeaderMainHeading">
        <span id="degree">0</span>
        <span class="conv-deg"> &deg;C</span>    
    </div>
    <div class="todayHighLow">
        <span id="degree-high">0</span>&deg;F
        /
        <span id="degree-low">0</span>&deg;F
    </div>
    <div class="topPillWrap">
        <span class="topPill">
            <img class="topPillImage" src="/images/icons/Humidity.svg" style="height:1em; width: 1em;" />
            <span class="main-info" id="humidity">0</span> %
        </span>
        <span class="topPill">
            <img class="topPillImage" src="/images/icons/Umbrella.svg" style="height:1em; width: 1em;" />
            <span class="main-info" id="precip">0</span> %
        </span>
        <span class="topPill">
            <img class="topPillImage" src="/images/icons/Wind.svg" style="height:1em; width: 1em;" />
            <span class="main-info" id="wind-speed">0</span><span id=units> km/h</span>
        </span>
    </div>
</div>