---
# Do Cool Stuff
---
<%#  %>

 <div class="vh-100 flex flex-column">
    <div class="topHeight" style="background: #000;"> 
        <%= partial "partials/new/top" %>
    </div>
      <div class="flex forecast-weather"> 
       <%= partial "partials/new/forecast-weather" %> 
    </div> 
    <div class="mainContent">
         <div>
            <div>
                <%# <%= partial "partials/new/google-calendar" %>
            </div>
            <div>
                <%# <%= partial "partials/new/cryptocurrency" %> 
            </div>
         </div>
    </div>
 </div>
 